* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

/*  ||||||||||||||                   HEADER                   ||||||||||||||   */

.header {
    background: #F9F6F1;
    height: 800px;
    margin: 0 auto;
    width: 100%;
}

.header-navigation {
    padding-top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;    
    letter-spacing: 0.03em;
}

.header-navigation__catalog {
    padding-right: 5.260416666666667%;  /*    101px / 1920px * 100 = 5.260416666666667%      */
}

.header-navigation__catalog-list li{
    display: inline-block;
}

.header-navigation__catalog-list > li + li {
    margin-left: 45px;   /* 45px / 1920px = 2.34375% */
}

.header-navigation__catalog-item ul {
    position: absolute;
    flex-direction: column;
    display: none;
}

.header-navigation__catalog-item:hover ul {
    display: flex;
}

.header-navigation__catalog-item ul li {
    padding: 10px 0 10px 0;
}

.header-navigation__logo {
    padding-right: 4.6875%; /* 90px */
}

.header-navigation__buttons {
    padding-right: 101px;
    display: flex;
}

.header-navigation__buttons a + a {
    margin-left: 35px;
}

.header-navigation__buttons a:hover {
    opacity: 0.5;
}

.header-navigation__cart {
    display: flex;
    align-items: center;
}

.cart-counter {
    margin-left: 15.25px;
    padding: 0 12px 0 13px;
    font-style: normal;
    font-weight: bold;
   font-size: 12px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 0.03em;
   color: #ffffff;
   background-color: #D7B399;
}

.header-slider {
    height: 377px;
    margin-top: 126px;
}

.header-slider__item {
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 130px;
    outline: none;
}

.header-slider__item-content {
    padding-top: 34px;
}

.header-slider__item-content__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;    
    color: #000000;
    margin-bottom: 35px;
}

.header-slider__item-content__description {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;    
    color: #000000;
    margin-bottom: 55px;
}

.header-slider__item-content__btn {
    padding: 17px 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #D7B399;
}

.header-dots {
    list-style: none;
    padding-left: 452px;
    display: flex;

}

.header-dots button {
    width: 40px;
    height: 7px;
    background-color: #CECECE;
    border: none;
    font-size: 0;
    cursor: pointer;
    margin-right: 15px;
    outline: none;
}

.header-dots .slick-active button{
    background: #D7B399;
}

/*  ||||||||||||||                   SECTION - FREE SHIPPING                   ||||||||||||||   */

.free-shipping {
    width: 100%;
    height: 235px;
    background: #212121;
    text-align: center;
}

.free-shipping__title span{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
}

.free-shipping__title {
    padding-top: 80px;
    padding-bottom: 23px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;    
    color: #FFFFFF;
}

.free-shipping__description {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;    
    color: #FFFFFF;
}

/*  ||||||||||||||                   SECTION - MEN, WOMAN COLUMN                   ||||||||||||||   */

.men-woman-col {
    width: 100%;
    height: 250px;
    display: flex;
}

.men {
    width: 50%;
    background: #F9F6F1;
}

.men-content-wrapper {
    display: flex;
    float: right;
}

.men-content {
    padding-right: 20px;
}

.men-content__title {
    padding-top: 61px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;    
    color: #000000;
}

.men-content__title span {
    font-weight: 500;
}

.men-content__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;    
    color: #000000;
    padding-bottom: 40px;   
}

.men-content__btn {
    padding: 15px 30px;
    background: #D7B399;
}

.men-content__img {
    padding: 79px 15px 0 0;
}

.woman {
    width: 50%;
    background: #F4F4F4;
}

.woman-content-wrapper {
    display: flex;
    float: left;
}

.woman-content {
    padding-left: 35px;
    padding-right: 15px;
}

.woman-content__title {
    padding-top: 61px;
    padding-bottom: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;    
    color: #000000;
}

.woman-content__title span {
    font-weight: 500;
}

.woman-content__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;    
    color: #000000;
    padding-bottom: 40px;   
}

.woman-content__btn {
    padding: 15px 30px;
    background: #D7B399;
}

.woman-content__img {
    padding: 79px 0 0 0;
}

/*  ||||||||||||||                   SECTION - MAIN CATALOG                   ||||||||||||||   */

.main-catalog {
    padding-bottom: 150px;
}

.main-catalog-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 277px);
}

.to-dawn {
    position: relative;
    top: 225px;
    left: 20px;
}

.to-up {
    position: relative;
    bottom: 40px;
    left: 20px;
}

/*  ||||||||||||||                   SECTION - NEW MODELS                   ||||||||||||||   */

.new-models {
    text-align: center;
}

.new-models__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 100px;
}

.new-models__examples {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.new-models__btn {
    display: flex;
    background: #D7B399;
    width: 220px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 150px;
}

.new-models__btn span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 18px 9px 18px 35px;
}

/*  ||||||||||||||                   SECTION - SUBSCRIBE                   ||||||||||||||   */

.subscribe {
    width: 100%;
    height: 180px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.subscribe-input__e-mail {
    margin-left: 60px;
    margin-right: 35px;
    outline: none;
    background: #F9F6F1;
    border: none;
    padding: 13px 164px 13px 20px;
}

.subscribe-input__e-mail::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #8D8D8D;
}

.subscribe-input__btn {
    width: 185px;
    outline: none;
    padding: 12px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px; 
    text-align: center;    
    color: #FFFFFF;
    background: #D7B399;
}

/*  ||||||||||||||                   SECTION - DISCOUNTS                   ||||||||||||||   */

.discounts {
    padding-top: 150px;
    text-align: center;
}

.discounts__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
    padding-bottom: 100px;
}

.discounts__examples {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.discounts__btn {
    display: flex;
    background: #D7B399;
    width: 220px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 150px;
}

.discounts__btn span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 18px 9px 18px 35px;
}

/*  ||||||||||||||                   FOOTER                   ||||||||||||||   */

.footer {
    width: 100%;
    height: 311px;
    background: #212121;
}

.footer-wrap {
    display: flex;
    padding-top: 80px;
}

.footer__main-content {
    padding-right: 223px;
}

.footer__main-content p {
    padding-top: 32px;
    width: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer__main-links {
    padding-right: 84px;
}

.footer__main-links ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.footer__main-links ul li:first-child {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__categories ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.footer__categories ul li:first-child {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__useful-links {
    padding-right: 53px;
    padding-left: 76px;
}

.footer__useful-links ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.footer__useful-links ul li:first-child {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__social-media ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #CBCFD4;
}

.footer__social-media ul li:first-child {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ico__sm {
    padding-right: 5px;
}

.ico-to-right {
    position: relative;
    top: 2px;
}

/*  ||||||||||||||                   SECTION - POST FOOTER                   ||||||||||||||   */

.post-footer {
    height: 75px;
}

.post-footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}